<div *ngIf="visible" class="dialog" >
  <div class="gossip-detail" >
    <!--TODO:add value change and debouncetime for updates.-->
    <input class="gossip-title gossip-input" [value]="gossip.title" [textContent]="gossip.title" (input)="gossip.title = $event.target.value"/>
    <div>
      <textarea class="gossip-body  gossip-input" [value]="gossip.body" (input)="gossip.body = $event.target.value"></textarea>
    </div>
    <div *ngIf="gossip.tags.length>0">
      <input class="gossip-tag gossip-input" *ngFor="let tag of gossip.tags" [value]="tag"  />
    </div>
    <div *ngIf="gossip.comments" class="gossip-comments">
      <hr/>
        <input class="gossip-comment gossip-input" *ngFor="let comment of gossip.comments" [value]="comment.comment" (input)="comment.comment = $event.target.value" />
        <input class="gossip-comment gossip-input"  [value]="" placeholder="Enter your comment here!" />
      <hr/>
    </div>
  </div>
  <input *ngIf="method === 'add'"  type="button" value="add" (click)="addGossip(gossip)"/>
  <input *ngIf="method === 'update'"  type="button" value="update" (click)="updateGossipTitle(gossip)"/>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
