<div *ngIf="visible" class="dialog" >
  <div class="gossip-detail" >
    <!--TODO:add value change and debouncetime for updates.-->
    <!--<h2 contenteditable="true" [textContent]="gossip.title" (input)="gossip.title = $event.target.textContent" (keyup)="setGossipTitle(gossip)">{{gossip.title}}</h2>-->
    <input class="gossip-title" [value]="gossip.title" [textContent]="gossip.title" (input)="gossip.title = $event.target.value"/>
    <div>

      <!--<div class="gossip-body" contenteditable="true" (input)="gossip.body = $event.target.innerText" (keyup)="setGossipBody(gossip)">{{gossip.body}}</div>-->
      <input class="gossip-body" [value]="gossip.body" (input)="gossip.body = $event.target.value" (keyup)="setGossipBody(gossip)"/>
    </div>
  </div>
  <input *ngIf="method === 'add'"  type="button" value="add" (click)="addGossip(gossip)"/>
  <input *ngIf="method === 'update'"  type="button" value="update" (click)="setGossipTitle(gossip)"/>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
