<div *ngIf="visible" class="dialog" >
  <div class="gossip-detail" >
    <!--TODO:add value change and debouncetime for updates.-->
    <app-gossip-input [gossip]="gossip" [editable]="false" [inputType]="gossip_input_type.Gossip_Title" ></app-gossip-input>

    <!--<input class="gossip-title gossip-input" [value]="gossip.title | gossipHashtag " [textContent]="gossip.title" (input)="gossip.title = $event.target.value"/>-->
    <div>
      <app-gossip-input [gossip]="gossip" [editable]="false" [inputType]='gossip_input_type.Gossip_Body' ></app-gossip-input>
    </div>
    <div *ngIf="gossip.tags">
      <input class="gossip-tag gossip-input" *ngFor="let tag of gossip.tags" [value]="tag"  />
    </div>
    <app-gossip-comment [gossip]="gossip"></app-gossip-comment>
  </div>
  <input *ngIf="method === 'add'"  type="button" value="add" (click)="addGossip(gossip)"/>
  <input *ngIf="method === 'update'"  type="button" value="update" (click)="updateGossipTitle(gossip)"/>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
